@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

* {
	font-family: "Montserrat", sans-serif;
}

p {
	font-weight: 900;
	font-size: 24px;
	text-align: center;
	margin: 50px 0 15px 0;
}

.container {
	padding: 2px;
	width: 800px;
	height: 500px;
	border: 5px solid black;
	margin: 0 auto;
	background: rgb(240, 219, 150);
	display: flex;
	flex-direction: column;
	/* flex-direction: row;  !DEFAULT */
	/* flex-direction: row-reverse */
	/* flex-direction: column-reverse */
}
.square {
	width: 100px;
	height: 100px;
}
.square:nth-of-type(1) {
	background: #85603f;
}
.square:nth-of-type(2) {
	background: #9e7540;
}
.square:nth-of-type(3) {
	background: #bd9354;
}
.square:nth-of-type(4) {
	background: #ddb983;
}
.square:nth-of-type(5) {
	background: #edca9a;
}

div:nth-child(7) {
	background: #023e8a;
	flex-wrap: wrap;
}
div:nth-child(7) > div:nth-child(1) {
	background: #03045e;
	flex: 1 1 30%;
	/* flex-grow  flex-shrink  flex-basis */
}
div:nth-child(7) > div:nth-child(2) {
	background: #0077b6;
}
div:nth-child(7) > div:nth-child(3) {
	background: #0096c7;
}
div:nth-child(7) > div:nth-child(4) {
	background: #00b4d8;
	flex: 1 1 30%;
}
div:nth-child(7) > div:nth-child(5) {
	background: #48cae4;
}

div:nth-child(9) {
	background: #800f2f;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}
div:nth-child(9) > div:nth-child(1) {
	background: #590d22;
}
div:nth-child(9) > div:nth-child(2) {
	background: #a4133c;
}
div:nth-child(9) > div:nth-child(3) {
	background: #c9184a;
}
div:nth-child(9) > div:nth-child(4) {
	background: #ff4d6d;
}
div:nth-child(9) > div:nth-child(5) {
	background: #ff758f;
}
